html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

body {
	background-color: #222;

	background-repeat: repeat;

	font-family: Helvetica, sans-serif;
	font-size: 16px;
	color:#000;
}


.layer {
	text-align: left;
	text-shadow: 1px 1px 0px rgba( 0, 0, 0, 0.1 );
}

.layer h7 
{
	text-align: center;
	position: relative;
	top: 10%;
	margin:40%;
	font-size: 1.25em;
	font-family: "华文行楷";	
}

.layer h2 
{
    text-align: left;
	position: relative;
	top: 10%;
	margin: 0;
	font-size: 2.5em;
	font-family: "华文新魏";	
}


.layer h3 
{
    text-align: center;
	position: relative;
	top: 20%;
	margin: 0;
	font-size: 6.25em;
	font-family: "华文新魏";	
}

.layer h4 {
	text-align:center;;
	position: relative;
        top: 0;
	margin: 0;
	font-size: 4.25em;
	font-family: "华文新魏";	
}

.layer h5 {
	position: relative;
	top: 0;
	margin: 0;
	font-size: 2.25em;
	font-family: "华文新魏";	
}
.layer h6 
{
    text-align: center;
	position: relative;
	top: 0%;
	margin: 0;
	font-size: 6.25em;
	font-family: "华文新魏";	
}

.layer p {
	
	position: absolute;
	top: 20%;
	margin: 0;
}





.layer.one {
	background:#fff;
	padding-top:20%;
}

.layer.two {
    background:#fff;
}

.layer.three {
	background:#fff;
}

/*
.layer pageno {
	position: absolute;
	top: 90%;
        right:5%;
	margin: 0;
	font-size: 0.75em;
	text-align: center;
	color:Black;
}
*/

.layer pageno {
	position: absolute;
	top: 90%;
        right:5%;
	margin: 0;
	font-size: 0.75em;
	text-align: center;
	color:Black;


.bullets {
	position: absolute;
	width: 100%;
	bottom: 10px;
	padding: 0;
	margin: 0;
	text-align: center;
}

	.bullets li {
		display: inline-block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		margin: 0 1px;

		background: rgba( 255, 255, 255, 0.5 );
		box-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.2 );
		cursor: pointer;

		-webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
	}

		.bullets li:hover {
			background: rgba( 255, 255, 255, 0.8 );
		}

		.bullets li.active {
			cursor: default;
			background: #fff;
		}

@media screen and (max-width: 400px) {
	body {
		font-size: 10x;
	}

	

	.bullets li {
		margin: 0 2px;
	}
}

